html,
body,
* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Audiowide", sans-serif;
  padding: 0;
  margin: 0;
}
main {
  text-align: center;
  font-size: 5rem;
  animation-name: bababooey;
  animation-duration: 6s;
  background-color: gold;
}
.flex-container {
  display: flex;
}
.flex-box {
  object-fit: contain;
  flex-direction: row;
  background-color: white;
}
.flex-box2 {
  object-fit: contain;
  flex-direction: row;
  background-color: white;
}
.flex-box3 {
  object-fit: contain;
  flex-direction: row;
  background-color: white;
}
.flex-box4 {
  object-fit: contain;
  flex-direction: row;
  background-color: white;
}
.flex-box5 {
  object-fit: contain;
  flex-direction: row;
  background-color: white;
}
.flex-box6 {
  object-fit: contain;
  flex-direction: row;
  background-color: white;
}
.flex-container > div {
  font-size: 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  border-style: solid;
  padding: 4rem;
  margin: 6rem;
  box-shadow: 7px 15px black;
  border-radius: 20px;
  align-items: center;
  width: 70%;
  object-fit: contain;
  gap: 2rem;
  flex-flow: row;
}

.imggroup-one {
  width: 20rem;
  border-radius: 10px;
  align-content: center;
}
.imggroup-two {
  width: 20rem;
  border-radius: 10px;
  height: 50%;
  align-content: center;
}
.imggroup-three {
  width: 20rem;
  border-radius: 10px;
  height: 51%;
  align-content: center;
}
.imggroup-four {
  width: 20rem;
  border-radius: 10px;
  height: auto;
  align-content: center;
}
.imggroup-five {
  width: 20rem;
  border-radius: 10px;
  align-content: center;
}
.imggroup-six {
  width: 20rem;
  border-radius: 10px;
  align-content: center;
}
.imggroup-seven {
  width: 20rem;
  border-radius: 10px;
  align-content: center;
}
.imggroup-eight {
  width: 20rem;
  border-radius: 10px;
  height: 50%;
  align-content: center;
}
.imggroup-nine {
  width: 20rem;
  border-radius: 10px;
  height: 40%;
  align-content: center;
}
.flex-box:hover {
  transform: scale(1.3);
  opacity: 0.7;
  background-color: cyan;
}
.flex-box2:hover {
  transform: rotate(360deg);
  opacity: 0.7;
  background-color: cyan;
}
.flex-box3:hover {
  transform: scale(0.8);
  opacity: 0.7;
  background-color: cyan;
}
.flex-box4:hover {
  transform: scaleX(1.3);
  opacity: 0.7;
  background-color: cyan;
}
.flex-box5:hover {
  transform: scaleY(1.3);
  opacity: 0.7;
  background-color: cyan;
}
.flex-box6:hover {
  transform: translateY(-40px);
  background-color: cyan;
}
.flex-box {
  transition: all 0.3s ease-out;
}
.flex-box2 {
  transition: all 0.3s ease-out;
}
.flex-box3 {
  transition: all 0.3s ease-out;
}
.flex-box4 {
  transition: all 0.3s ease-out;
}
.flex-box5 {
  transition: all 0.3s ease-out;
}
.flex-box6 {
  transition: all 0.3s ease-out;
}
@keyframes bababooey {
  from {
    color: white;
  }
  to {
    color: black;
  }
}
@keyframes bababooey {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1920px) {
  div {
    width: 100%;
    display: flexbox;
  }
  .flex-container {
    align-content: center;
  }
}
@media only screen and (max-width: 1024px) {
  div {
    width: 125%;
    height: auto;
    float: left;
    display: flexbox;
  }
  .flex-box {
    align-content: center;
    background-color: blanchedalmond;
  }
  .flex-box2 {
    align-content: center;
    background-color: blanchedalmond;
  }
  .flex-box3 {
    align-content: center;
    background-color: blanchedalmond;
  }
  .flex-box4 {
    align-content: center;
    background-color: blanchedalmond;
  }
  .flex-box5 {
    align-content: center;
    background-color: blanchedalmond;
  }
  .flex-box6 {
    align-content: center;
    background-color: blanchedalmond;
  }
}
@media only screen and (max-width: 812px) {
  div {
    width: 150%;
    height: auto;
    float: left;
    display: flexbox;
  }
  .flex-box {
    align-content: center;
    background-color: darkseagreen;
  }
  .flex-box2 {
    align-content: center;
    background-color: darkseagreen;
  }
  .flex-box3 {
    align-content: center;
    background-color: darkseagreen;
  }
  .flex-box4 {
    align-content: center;
    background-color: darkseagreen;
  }
  .flex-box5 {
    align-content: center;
    background-color: darkseagreen;
  }
  .flex-box6 {
    align-content: center;
    background-color: darkseagreen;
  }
}

a,
link:hover {
  color: rgb(255, 4, 4);
}
a,
:active {
  color: rgb(124, 6, 6);
}
